<div class="container">
    <button type="button" class="btn btn-primary mt-5" routerLink="/home">Home</button>
    <div class="row justify-content-md-center mt-5">
        <div class="col-sm">
            <ngb-accordion [closeOthers]="true" activeIds="static-0">
                <ngb-panel *ngFor="let item of book;  let i = index" id="static-{{i}}">
                    <ng-template ngbPanelTitle> {{item.chapter}} </ng-template>
                    <ng-template ngbPanelContent>
                        <div class="row">
                            <div class="col-md-3 mt-3" *ngFor="let itemImg of item.imgs" (click)="openModal(modalContent, itemImg)">
                                <img [src]="itemImg.src" class="img-thumbnail">
                            </div>
                        </div>
                    </ng-template>
                </ngb-panel>
            </ngb-accordion>
        </div>
    </div>
</div>

<ng-template #modalContent let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Imagem</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body text-center">
        <img [src]="dataModal.src" class="img-fluid">
        <a class="btn btn-primary mt-3" [href]="dataModal.src" target="_blank">Baixar</a>
    </div>
</ng-template>