<div class="container center-all-content">
    <div class="row justify-content-md-center">
        <div class="col text-center">
            <h1 class="title mb-3">DISRUPTIVUS</h1>
            <div class="card dark-div w-100">
                <div class="card-body">
                    <p class="card-text">Acesse:</p>
                    <a href="#" class="btn btn-primary mr-2">Cenas</a>
                    <a href="#" class="btn btn-primary">Personagens</a>
                    <!-- <div class="mt-2">
                        <p class="card-text">Sobre o criador:</p>
                        <a href="https://velrino.github.io/" target="_blank" class="btn btn-primary mr-2">Criador</a>
                    </div> -->
                </div>
                <div class="card-footer text-muted">
                    2 days ago
                </div>
            </div>
        </div>
    </div>
</div>