<div class="container center-all-content">
    <div class="row justify-content-md-center">
        <div class="col text-center">
            <h1 class="mb-3 title">DISRUPTIVUS</h1>
            <div class="card dark-div w-100">
                <div class="card-body">
                    <p class="card-text">Acesse:</p>
                    <a href="#" class="btn btn-primary mr-2">Cenas</a>
                    <a href="#" class="btn btn-primary">Personagens</a>
                </div>
                <div class="card-footer text-muted">
                    2 days ago
                </div>
            </div>
        </div>
    </div>
</div>