<app-navbar></app-navbar>
<div class="pt-5"></div>
<div class="container">
    <div class="row justify-content-md-center mt-5" *ngIf="characterData" id="character-data">
        <div class="col-12 col-md-6">
            <img [src]="characterData.img" class="img-fluid">
        </div>
        <div class="col-12 col-md-6">
            <div class="bg-primary-color text-white text-center text-uppercase rounded-top">
                <h4>{{characterData.name}}</h4>
                <h5>{{characterData.skill}}</h5>
            </div>
            <!-- <p class="bg-dark-opacy text-white text-justify p-3">{{characterData.text}}</p> -->
        </div>
    </div>
    <div class="row justify-content-md-center mt-5 mb-5">

    </div>
    <div class="row justify-content-md-center mt-5 mb-5">
        <div class="col-12 mb-3">
            <h5 class="text-primary-color text-center text-uppercase">Clique no personagem</h5>
        </div>
        <div *ngFor="let character of charactersData" (click)="showCharacter(character)" class="col-6 col-md-2 p-1">
            <div class="relative_box">
                <img [src]="character.thumbnail" class="character-thumbnail">
                <span class="text-uppercase">{{character.name.split(" ")[0]}}</span>
            </div>
        </div>
    </div>
</div>