<div class="container">
    <button type="button" class="btn btn-primary mt-5" routerLink="/home">Home</button>
    <div class="row justify-content-md mt-5" *ngIf="characterData">
        <div class="col-12 col-md-6">
            <img [src]="characterData.img" class="img-fluid">
        </div>
        <div class="col-12 col-md-6">
            <div class="bg-primary-color text-white text-center text-uppercase rounded-top">
                <h3>{{characterData.name}}</h3>
                <h5>{{characterData.skill}}</h5>
            </div>
            <p class="bg-dark-opacy text-white text-justify p-3">{{characterData.text}}</p>
        </div>
    </div>
    <div class="row justify-content-md mt-5 mb-5">
        <div *ngFor="let character of charactersData" (click)="showCharacter(character)" class="col-6 col-md-2 p-1">
            <div class="relative_box">
                <img [src]="character.thumbnail" class="character-thumbnail">
                <span class="text-uppercase">{{character.name.split(" ")[0]}}</span>
            </div>
        </div>
    </div>
</div>