/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/scss/bootstrap';
@font-face {
    font-family: Nasalization;
    src: url(assets/nasalization/nasalization-rg.ttf) format("opentype");
}

body {
    font-family: 'Nasalization', 'arial', sans-serif !important;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -99;
}

.login-div {
    max-width: 430px;
    padding: 35px;
    border-radius: 15px;
    color: white;
    background: rgba(8, 8, 8, 0.7);
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.5);
}

.dark-div {
    background: rgba(8, 8, 8, 0.7);
    color: white;
}

body .center-all-content {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-primary {
    background-color: #6b63b5 !important;
    border-color: #6b63b5 !important;
    // 10141b
    // 26a69a
    // 6b63b5
}

.title {
    font-size: 50px;
    color: #ffc800;
    border-top: 5px solid #ffc800;
    border-bottom: 5px solid #ffc800;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    border-radius: 10%;
}

hr {
    background-color: white !important;
    height: 5px;
}

a .fa-instagram {
    color: transparent;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background-clip: text;
    -webkit-background-clip: text;
}